@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @if (Model.TotalPages > 1)
    {
        <nav class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a class="page-link" href="?page=@(Model.CurrentPage - 1)">
                    Previous
                </a>
            }
            else
            {
                <span class="page-link disabled">Previous</span>
            }
            <span>Page @Model.CurrentPage of @Model.TotalPages</span>
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a class="page-link" href="?page=@(Model.CurrentPage + 1)">
                    Next
                </a>
            }
            else
            {
                <span class="page-link disabled">Next</span>
            }
        </nav>
    }
</div>
